* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(https://plus.unsplash.com/premium_photo-1673697239981-389164b7b87f?q=80&w=1444&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h2 {
  font: 28px Arial;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 140px;
  height: 100px;
  background: #473bec81;
  color: #fff;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px #1111114f;
  font-size: 90px;
}

#text {
  height: 30px;
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background: #31013dce;
  opacity: 0.8;
}

#ampm {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background: #008000
}

